#background {
    background: url("../src/images/stonewall.png");
    opacity: 1;
    position: absolute;
    margin-top: -150;
    width: 1777px;
    height: 900px;
    z-index: -1;
    background-size: cover;
    background-repeat: none;
    opacity: .3
}
