.normal {
    background-color: #FAF9F6;
    position: fixed;
    left: 500px;
    top: 300px;
    text-shadow: 0px 0px 20px grey;
    padding: 1px 5px 1px 5px;
    font-family: 'Tahoma', serif;
    font-size: 21;
    border-radius: 8px;
    border: 1px solid black;
}

.greyedOut {
    background-color: #FAF9F6;
    position: fixed;
    left: 500px;
    top: 300px;
    padding: 1px 5px 1px 5px;
    font-family: 'Tahoma', serif;
    font-size: 21;
    border-radius: 8px;
    border: 1px solid black;
    opacity: .2
}

.normal:hover {
    cursor: pointer
}