#back_button {
    background-color: #FAF9F6;
    position: fixed;
    left: 500px;
    top: 200px;
    padding: 1px 5px 1px 5px;
    font-family: 'Tahoma', serif;
    font-size: 21;
    border-radius: 8px;
    border: 1px solid black;
}

#back_button:hover {
    cursor: pointer
}