.list {
    font-size: 24;
    font-family: sans-serif;
    float:right;
    position: fixed;
    overflow-wrap: normal;
    right:100px;
}
ul {
    list-style-type: none;
    padding: 20px;
    border: 3px solid #ddd;
    background-color: #989898;
  }
  
ul li {
    text-align: center;
    padding: 6px 16px;
    margin: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ddd;
    // border-top: 1px solid #ddd;
}

#issues_list {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

ul:first-child {
    padding: 200px 0px 0px 0px;
}

#issues_list li:hover {
    cursor: pointer;
    background-color: #D3D3D3;
}