.list {
    font-size: 24;
    font-family: sans-serif;
    color: white;
    float:right;
    position: fixed;
    overflow-wrap: normal;
    right:60px;
}
ul {
    list-style-type: none;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: midnightblue;
    ;
  }
  
ul li {
    text-align: center;
    color: black;
    padding: 6px 16px;
    margin: 4px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #cdebf9;
    // border-top: 1px solid #ddd;
}

#issues_list {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

ul:first-child {
    padding: 200px 0px 0px 0px;
}

#issues_list li:hover {
    cursor: pointer;
    filter: brightness(0.8)
}