#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#navbar li{
    display: inline-block;
    padding: 8px;
    border-radius: 2px;
    font-family: sans-serif;
    background-color: white;
}

#navbar:last-child {
    border-radius: 50px;
    background-color: blue;
}

#navbar li:hover{
    cursor: pointer;
    filter: brightness(0.8)
}