// $color: purple; // (define here so if you have one color used a bunch of places, you don't have to change it everywhere, you can just change it once)
#title {
    position: relative;
    background-color: cdebf9;
    z-index: 2;
}

// #title::before {   
//     content: '';
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     background-image: url('https://static.dezeen.com/uploads/2018/06/lgbt-pride-flag-redesign-hero.jpg');
//     background-size: 100%;
//     background-repeat: no-repeat;
//     background-position: center;
//     width: 450px;
//     height: 200px;
//     position: absolute;
//     z-index: -1;
//     // top: 0px;
//     // right: 0px;
//     // bottom: 0px;
//     // left: 0px;
//     opacity: 0.4;
// }

//without adding it in index.scss, this doesn't do anything. you need to import styling into index.scss