#us_map {
    float:left
};

.color_red {
    fill: #F75B5B !important
}

.color_pale_green {
    fill: #B3E5A2 !important
}

.color_green {
    fill: #689D55 !important
}

path:hover {
    cursor: pointer;
    // fill: blue !important
    filter: brightness(0.8);
}
