#us_map {
    float:left;
    background-color: transparent;
    margin-top: 100px;
    margin-left: -150px;
};

path:hover {
    cursor: pointer;
    transform: scale(1.0015);
    -webkit-transform: scale(1.0015);
    filter: drop-shadow(0 0 .6em #5d5c61) brightness(0.8);
}
